<div class="card text-dark bg-light mb-3" >
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/planillas/form">
            Cargar planilla
        </button>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                   
                    <th>descripción</th>
                    <th>fecha</th>
                    <th>precio de venta</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let planilla of lista">
                    <td>{{planilla.id }}</td>
                    <td>{{planilla.detalle}}</td>
                    <td>{{planilla.fecha | date: 'dd/MM/yyyy'}}</td>
                    <td>{{planilla.totalCostos}}</td>
                    <td><button class="btn btn-secondary btn-sm" 
                        [routerLink]="['/planillas/form',planilla.id]">
                        Editar
                    </button></td>
                    <td><button class="btn btn-secondary btn-sm" 
                        (click)="eliminar(planilla)">
                        Eliminar
                    </button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginar($event)"
              showFirstLastButtons
              class="float-left mx-2">

        </mat-paginator>

    </div>
</div>