<div class="card text-dark bg-light mb-3" >
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <button class="btn btn-primary my-2" routerLink="/operarios/form">
            Cargar operario
        </button>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>email</th>
                    <th>creado en</th>
                    <th>editar</th>
                    <th>eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operario of lista">
                    <td>{{operario.id }}</td>
                    <td>{{operario.nombre}}</td>
                    <td>{{operario.apellido}}</td>
                    <td>{{operario.email}}</td>
                    <td>{{operario.createAt | date: 'dd/MM/yyyy'}}</td>
                    <td><button class="btn btn-secondary btn-sm" 
                        [routerLink]="['/operarios/form',operario.id]">
                        Editar
                    </button></td>
                    <td><button class="btn btn-secondary btn-sm" 
                        (click)="eliminar(operario)">
                        Eliminar
                    </button></td>
                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="totalRegistros"
              [pageSize]="totalPorPagina"
              [pageIndex]="paginaActual"
              [pageSizeOptions]="pageSizeOptions"
              (page)="paginar($event)"
              showFirstLastButtons
              class="float-left mx-2">

        </mat-paginator>

    </div>
</div>